html {
    height: 100%;
    background-image: linear-gradient(#d4fc79, #96e6a1);
}
body {
    min-height: 100%;
 }

.task-completed {
    text-decoration: line-through;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}